<footer class="footer section">
  <div class="container footer__container">
    <ul class="footer__list">
      <li class="footer__item"><a class="footer__link" href="#">Home</a></li>
      <li class="footer__item"><a class="footer__link" href="#overview">Overview</a></li>
      <li class="footer__item"><a class="footer__link" href="#program">Program</a></li>
      <li class="footer__item"><a class="footer__link" href="#plans">Plans</a></li>
      <li class="footer__item"><a class="footer__link" href="#contacts">Contacts</a></li>
    </ul>
    <div class="footer__info-wrapper">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <button type="button" class="footer__social-link" aria-label="facebook">
            <svg class="footer__social-icon" width="16" height="16" aria-label="facebook-icon">
              <use href="./assets/images/sprite.svg#facebook"></use>
            </svg>
          </button>
        </li>
        <li class="footer__social-item">
          <button type="button" class="footer__social-link" aria-label="instagram">
            <svg class="footer__social-icon" width="16" height="16" aria-label="instagram-icon">
              <use href="./assets/images/sprite.svg#instagram"></use>
            </svg>
          </button>
        </li>
        <li class="footer__social-item">
          <button type="button" class="footer__social-link" aria-label="linkedin">
            <svg class="footer__social-icon" width="16" height="16" aria-label="linkedin-icon">
              <use href="./assets/images/sprite.svg#linkedin"></use>
            </svg>
          </button>
        </li>
        <li class="footer__social-item">
          <button type="button" class="footer__social-link" aria-label="twitter">
            <svg class="footer__social-icon" width="16" height="16" aria-label="twitter-icon">
              <use href="./assets/images/sprite.svg#twitter"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="footer__title-wrapper">
        <a class="footer__title" href="#home">&copy; 2023 FitGym</a>
        <p class="footer__created-by">Created by SoftRyzen</p>
      </div>
    </div>
  </div>
  {% include './components/pop-up.html' %}
</footer>
