<footer class="footer section">
  <div class="container footer__container">
    <ul class="footer__list">
      <li class="footer__item"><a class="footer__link" href="#home">Home</a></li>
      <li class="footer__item"><a class="footer__link" href="#overview">Overview</a></li>
      <li class="footer__item"><a class="footer__link" href="#program">Program</a></li>
      <li class="footer__item"><a class="footer__link" href="#plans">Plans</a></li>
      <li class="footer__item"><a class="footer__link" href="#contacts">Contacts</a></li>
    </ul>
    <div>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a class="footer__social-link">
            <svg class="footer__social-icon" width="16" height="16" aria-label="facebook-icon">
              <use href="./assets/images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link">
            <svg class="footer__social-icon" width="16" height="16" aria-label="instagram-icon">
              <use href="./assets/images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link">
            <svg class="footer__social-icon" width="16" height="16" aria-label="linkedin-icon">
              <use href="./assets/images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link">
            <svg class="footer__social-icon" width="16" height="16" aria-label="twitter-icon">
              <use href="./assets/images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer__title-wrapper">
        <p class="footer__title">&copy; 2023 FitGym</p>
        <p class="footer__created-by">Created by SoftRyzen</p>
      </div>
    </div>
  </div>
</footer>
