<header id="header" class="header container">
  <a href="" class="logo" aria-label="company logo" data-logo
    >FitGYM
    <svg width="24" height="24">
      <use href="./assets/images/sprite.svg#sport"></use></svg
  ></a>
  {% include 'components/nav-menu.html' %}
  <button class="burger-menu" type="button" aria-label="navigation menu" data-burger-menu>
    <svg aria-label="navigation menu icon" width="24" height="24">
      <use href="./assets/images/sprite.svg#burger"></use>
    </svg>
  </button>
</header>
{% include 'components/mobile-menu.html' %}
