<div class="backdrop is-hidden" data-modal>
  <div class="modal is-hidden">
    <svg class="close-btn modal__close-icon" aria-label="Close modal" data-modal-close>
      <use href="./assets/images/sprite.svg#icon-close"></use>
    </svg>

    <div>
      <h2 class="title modal__title">Contact us</h2>
      <form class="modal__form" action="#" id="form">
        <div class="modal__form-control modal__form-control--name">
          <svg class="modal__icon-user" aria-label="user Icon" width="20" height="20">
            <use href="assets/images/sprite.svg#icon-user"></use>
          </svg>
          <input
            class="modal__form-input"
            placeholder="Name"
            id="name"
            type="text"
            name="name"
            required
          />
          <span>Error message</span>
        </div>

        <div class="modal__form-control">
          <svg class="modal__icon-phone" aria-label="phone icon" width="20" height="20">
            <use href="assets/images/sprite.svg#icon-phone"></use>
          </svg>
          <input
            class="modal__form-input"
            placeholder="Phone number"
            id="telephone"
            type="tel"
            name="telephone"
            required
          />
          <span>Error message</span>
        </div>

        <div class="modal__form-control">
          <svg class="modal__icon-email" aria-label="email icon" width="20" height="20">
            <use href="assets/images/sprite.svg#icon-email"></use>
          </svg>
          <input
            class="modal__form-input"
            placeholder="Email"
            id="email"
            type="email"
            name="email"
            required
          />
        </div>

        <button class="button--primary modal__send-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
