<div class="backdrop is-hidden" data-modal>
  <div class="modal is-hidden">
    <svg class="close-btn modal__close-icon" aria-label="Close modal" data-modal-close>
      <use href="./assets/images/sprite.svg#icon-close"></use>
    </svg>

    <div>
      <h2 class="title modal__title">Contact us</h2>
      <form class="modal__form" action="#" id="form">
        <div class="modal__form-control modal__form-control--name">
          <input
            class="modal__form-input modal__form-input--name"
            placeholder="Name"
            id="name"
            type="text"
            name="name"
            required
          />
          <span>Error message</span>
          <div class="modal__icon-wrapper modal__icon-wrapper--name">
            <svg
              width="18"
              height="19"
              aria-label="name"
              class="modal__icon-form modal__icon-form--name"
            >
              <use href="./assets/images/sprite.svg#name"></use>
            </svg>
          </div>
        </div>

        <div class="modal__form-control">
          <input
            class="modal__form-input modal__form-input--phone"
            placeholder="Phone number"
            id="telephone"
            type="tel"
            name="telephone"
            required
          />
          <span>Error message</span>
          <div class="modal__icon-wrapper modal__icon-wrapper--phone">
            <svg
              width="18"
              height="19"
              aria-label="phone"
              class="modal__icon-form modal__icon-form--phone"
            >
              <use href="./assets/images/sprite.svg#phone"></use>
            </svg>
          </div>
        </div>

        <div class="modal__form-control">
          <input
            class="modal__form-input modal__form-input--email"
            placeholder="Email"
            id="email"
            type="email"
            name="email"
            required
          />
          <span>Error message</span>
          <div class="modal__icon-wrapper modal__icon-wrapper--email">
            <svg
              width="18"
              height="19"
              aria-label="email"
              class="modal__icon-form modal__icon-form--email"
            >
              <use href="./assets/images/sprite.svg#email"></use>
            </svg>
          </div>
        </div>

        <button class="button--primary modal__send-btn" type="submit" aria-label="Send">
          <span>Send</span>
        </button>
      </form>
    </div>
  </div>
</div>
