// <button class="button--primary"><span>Кнопка</span></button>

.button--primary {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 19px;
  font-weight: 600;
  color: var(--primary-txt-cl);
  background: linear-gradient(180deg, #0239fe 0%, #0285fe 100%);
  border-radius: 12px;

  @include mq(mobile) {
    width: 200px;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, #002abf 0%, #548aff 100%);
    border-radius: 12px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.25s linear;
  }

  &:hover::before {
    opacity: 1;
  }

  & span {
    position: relative;
    z-index: 2;
  }
}

// Кнопка для hero

.button--secondary {
  display: inline-block;
  width: 100%;
  padding: 19px;
  font-weight: 600;
  color: var(--accent-primary-gradient);
  border: solid 2px transparent;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(
      180deg,
      var(--accent-primary-gradient) 0%,
      var(--accent-secondary-gradient) 100%
    );
  border-radius: 12px;
  background-origin: border-box;
  box-shadow: 2px 1000px 1px var(--black-bg) inset;
  transition: box-shadow var(--fast) linear;

  @include mq(mobile) {
    width: 200px;
  }

  &:hover {
    box-shadow: 2px 1000px 1px var(--white-bg) inset;
  }
}

// Кнопка для Program

.button--white {
  display: inline-block;
  width: 100%;
  padding: 19px;
  font-weight: 600;
  color: var(--primary-txt-cl);
  background-color: transparent;
  border: 2px solid var(--primary-txt-cl);
  border-radius: 12px;
}
