@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --accent-cl: #023dfe;
  --accent-primary-gradient: #0239fe;
  --accent-secondary-gradient: #0285fe;
  --hover-primary-gradient: #002abf;
  --hover-secondary-gradient: #548aff;
  --hover-secondary: #2b99ff;
  --disabled-cl: #abafc7;
  --error-cl: #e21e4d;

  /* TEXT COLORS */
  --primary-txt-cl: #fdfdfd;
  --secondary-txt-cl: #abafc7;

  /* BACKGROUND COLORS */
  --primary-bg: #000105;
  --secondary-bg: #00113b;
  --white-bg: #ffffff;
  --black-bg: #000000;
  --light-bg: rgba(253, 253, 253, 0.5);
  --disabled-bg: #424a6a;

  /* BORDER */

  /* SHADOW */

  --box-shadow: 0px, 8px rgba(76, 64, 247, 0.5);
  --box-shadow-primary: 3px 6px 25px rgba(76, 64, 247, 0.5);
  --box-shadow-light: 2px 4px 15px rgba(255, 255, 255, 0.3);
  --box-shadow-app: 0px 8px 24px rgba(76, 64, 247, 0.5);

  /* FONTS */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Oswald', sans-serif;
  --main-weight: 300;

  --grid-item: 1;
  --grid-mr-left: 30px;
  --grid-mr-top: 30px;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;
}
