@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --accent-cl: #023DFE;
  --accent-primary-gradient: #0239FE;
  --accent-secondary-gradient: #0285FE;

  /* TEXT COLORS */
  --primary-txt-cl: #FDFDFD;
  --secondary-txt-cl: #ABAFC7;

  /* BACKGROUND COLORS */
  --primary-bg: #000105;
  --secondary-bg: #00113B;

  /* BORDER */

  /* SHADOW */

  --box-shadow: 0px, 8px rgba(76, 64, 247, 0.5);

  /* FONTS */
  --main-font: 'Roboto', sans-serif;
  --main-weight: 300;

  --grid-item: 1;
  --grid-mr-left: 30px;
  --grid-mr-top: 30px;

  /* ANIMATIONS SPEED */
  --fast: 0.2s;
  --slow: 0.4s;
}
