.footer {
  position: relative;
  background-color: var(--secondary-bg);
  &__list {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 32px;

    &::before {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      background-color: white;
      top: 0;
    }
  }

  &__item:not(:first-child) {
    margin-left: 16px;
  }

  &__social-list {
    display: flex;
    margin: 0 auto;
    width: 190px;
  }

  &__social-item:not(:first-child) {
    margin-left: 10px;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
  }

  &__social-icon {
    fill: white;
  }

  &__title-wrapper {
    color: var(--secondary-txt-cl);
    text-align: center;
    margin-top: 32px;
  }

  &__title {
    font-weight: 500;
    line-height: calc(24 / 16);
  }

  &__created-by {
    font-weight: 300;
    font-size: 10px;
  }
}