.header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include mq(tablet) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  background: linear-gradient(180deg, #0239fe 0%, #0285fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  &:hover,
  &:focus {
    background: linear-gradient(0deg, #002abf 0%, #548aff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.mobile-menu__logo.logo {
  background: linear-gradient(180deg, var(--primary-txt-cl) 0%, var(--primary-txt-cl) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.burger-menu {
  background-color: transparent;

  svg {
    fill: var(--primary-txt-cl);
  }

  transition: opacity 0.4s linear, color 0.2s linear;

  // &:hover,
  // &:focus {
  // }

  @include mq(tablet) {
    display: none;
  }
}
