.programs__title {
  margin-bottom: 24px;

  @include mq(tablet) {
    margin-bottom: 40px;
  }

  @include mq(desktop) {
    margin-bottom: 80px;
  }
}

.programs__container {
  @include mq(mobile-only) {
    max-width: 320px;
  }
}

.cards {
  // margin: 0 auto;
  overflow: hidden;
  // display: inline-flex;
  // gap: 32px;
}

.cards__container {
  display: inline-block;
  perspective: 1000px;
  border-radius: 12px;
  width: 280px;
  // height: 453px;
  // @include mq(mobile) {
  //   width: 440px;
  //   height: 593px;
  // }
  @include mq(tablet) {
    width: 336px;
    height: 453px;
  }
  @include mq(desktop) {
    width: 384px;
    height: 520px;
  }
}

.card {
  position: relative;
  // width: 100%;
  // height: 100%;
  width: 280px;
  height: 377px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  @include mq(tablet) {
    width: 336px;
    height: 453px;
  }
  @include mq(desktop) {
    width: 384px;
    height: 520px;
  }
}

.card.active {
  transform: translateX(-100%) rotateY(-180deg);
}

.side {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  top: 0;
  border-radius: 8px;
  width: 280px;
  height: 377px;
  // @include mq(mobile) {
  //   width: 440px;
  //   height: 593px;
  // }
  @include mq(tablet) {
    width: 336px;
    height: 453px;
  }
  @include mq(desktop) {
    width: 384px;
    height: 520px;
  }
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(180deg, #0239fe 0%, #0285fe 100%);
}

.front {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.programs__button-wrapper {
  position: absolute;
  width: 100%;
  height: 104px;
  left: 0px;
  bottom: 0px;
  padding: 24px 16px 16px 16px;
  background: linear-gradient(180deg, rgba(0, 1, 5, 0) 0%, #000105 100%);
}

.program__slick-slider .slick-slide {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  &:not(:first-child) {
    margin-left: 32px;
  }

  @include mq(desktop) {
    // width: 320px;
  }
}

.programs__img {
  // width: 100%;
}
