.programs__title {
  margin-bottom: 24px;

  @include mq(tablet) {
    margin-bottom: 40px;
  }

  @include mq(desktop) {
    margin-bottom: 80px;
  }
}

.cards {
  display: flex;
  gap: 32px;
}

.cards__container {
  display: inline-block;
  width: 384px;
  height: 520px;
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.active {
  transform: translateX(-100%) rotateY(-180deg);
}

.side {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  position: absolute;
  width: 384px;
  height: 520px;
  border-radius: 5px;
  background-color: black;
}

.back {
  transform: rotateY(180deg);
}
