.subscribe {
  background-image: linear-gradient(to bottom, var(--primary-bg) 80%, var(--secondary-bg) 80%);

  @include mq(tablet) {
    background-image: linear-gradient(to bottom, var(--primary-bg) 70%, var(--secondary-bg) 70%);
  }

  @include mq(desktop) {
    background-image: linear-gradient(to bottom, var(--primary-bg) 79%, var(--secondary-bg) 79%);
  }
}

.subscribe__container {
  position: relative;
  text-align: center;

  @include mq(tablet) {
    padding-top: 398px;
  }

  @include mq(desktop) {
    padding-top: 732px;
  }
}

.subscribe__img {
  @include mq(mobile-only) {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  @include mq(tablet) {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include mq(desktop) {
    top: 50px;
  }

  & img {
    @include mq(tablet) {
      width: 368px;
      height: 278px;
    }

    @include mq(desktop) {
      width: 740px;
      height: 560px;
    }
  }
}

.subscribe__title {
  letter-spacing: normal;
  text-align: left;
  line-height: 1.3;

  @include mq(mobile-only) {
    margin-bottom: 80px;
  }

  @include mq(tablet) {
    position: absolute;
    top: 55px;
    right: 32px;
    width: 336px;
  }

  @include mq(desktop) {
    top: 182px;
    width: 488px;
  }
}

.subscribe__formWrapper {
  background-image: linear-gradient(
    to bottom,
    var(--accent-primary-gradient),
    var(--accent-secondary-gradient)
  );
  border-radius: 12px;
  padding: 60px 12px;

  @include mq(tablet) {
    padding: 60px 102px;
  }

  @include mq(desktop) {
    width: 1008px;
    margin: 0 auto;
    padding: 60px 282px;
  }
}

.subscribe__form {
  position: relative;
}

.subscribe__form.error .contacts__error {
  position: absolute;
  bottom: -26px;
  left: 28px;
  display: block;
  color: var(--error-cl);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.subscribe__formText {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}

.subscribe__formTitle {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 40px;

  @include mq(tablet) {
    font-size: 48px;
  }
}

.subscribe__input {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: var(--primary-txt-cl);
  outline: none;
  border: 2px solid transparent;
  border-radius: 11px;
  background-color: var(--secondary-bg);
  box-shadow: 0px 8px 50px #3123f8;
  padding: 20px 53px 20px 28px;

  transition: box-shadow var(--fast) linear, border var(--fast) linear;

  @include mq(tablet) {
    line-height: 1.78;
  }

  .subscribe__form.error & {
    border: 2px solid var(--error-cl);
    box-shadow: var(--box-shadow-error);
  }

  .subscribe__form.success & {
    border: 2px solid var(--accent-cl);
    box-shadow: var(--box-shadow-success);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    color: var(--secondary-txt-cl);
  }
}

.subscribe__button {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  width: 20px;
  height: 14px;
  background-color: transparent;

  .subscribe__form.success & {
    background-image: url("../images/subscribe/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.subscribe__disabled {
  cursor: auto;
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: var(--secondary-txt-cl);

  .subscribe__form.error & {
    stroke: var(--error-cl);
  }

  .subscribe__form.success & {
    display: none;
  }
}
