<section class="advantages section" id="advantages">
  <div class="advantages__container container">
    <div class="advantages__wrapper">
      <div class="advantages__text">
        <h2 class="advantages__title title">Use our App for tracking your success</h2>
        <ul class="advantages__list">
          <li class="advantages__item">your training program is always with you</li>
          <li class="advantages__item">you can track your own activity</li>
          <li class="advantages__item">you can set your own goals</li>
        </ul>
        <ul class="advantages__apps app__list">
          <li class="app__item">
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://play.google.com/"
              class="app__link google"
            >
              <svg class="app__google" width="132" height="40" aria-label="google-play-icon">
                <use href="./assets/images/sprite.svg#google-play"></use>
              </svg>
            </a>
          </li>
          <li class="app__item">
            <a
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="https://www.apple.com/ua/app-store/"
              class="app__link apple"
            >
              <svg class="app__apple" width="132" height="40" aria-label="app-store-icon">
                <use href="./assets/images/sprite.svg#app-store"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="advantages__image">
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/advantages/mobiles-mob.webp    1x,
              ./assets/images/advantages/mobiles-mob@2x.webp 2x
            "
          />
          <source
            type="image/png"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/advantages/mobiles-mob-min.png    1x,
              ./assets/images/advantages/mobiles-mob@2x-min.png 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./assets/images/advantages/mobiles-tab.webp    1x,
              ./assets/images/advantages/mobiles-tab@2x.webp 2x
            "
          />
          <source
            type="image/png"
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./assets/images/advantages/mobiles-tab-min.png    1x,
              ./assets/images/advantages/mobiles-tab@2x-min.png 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 1280px)"
            srcset="
              ./assets/images/advantages/mobiles-desk.webp    1x,
              ./assets/images/advantages/mobiles-desk@2x.webp 2x
            "
          />
          <source
            type="image/png"
            media="(min-width: 1280px)"
            srcset="
              ./assets/images/advantages/mobiles-desk-min.png    1x,
              ./assets/images/advantages/mobiles-desk@2x-min.png 2x
            "
          />
          <img
            class="advantages__img"
            src="./assets/images/advantages/mobiles-desk-min.png"
            srcset="./assets/images/advantages/mobiles-desk@2x-min.png"
            alt="Mobiles"
            width="664"
            height="790"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
