<section class="section contacts">
  <div class="container">
    <div class="contacts__container">
      <div>
        <h2 class="title contacts__title">Let’s Find Your Way in Sport!</h2>
        <p class="contacts__text">We make real results happen. Let`s find your personal trainer</p>
        <ul class="contacts__list">
          <li class="contacts__item">
            <svg width="20" height="20" aria-label="email" class="contacts__icon">
              <use href="./assets/images/sprite.svg#email"></use>
            </svg>
            <p class="contacts__data">info@sports.com</p>
          </li>
          <li class="contacts__item">
            <svg width="20" height="20" aria-label="building" class="contacts__icon">
              <use href="./assets/images/sprite.svg#address"></use>
            </svg>
            <p class="contacts__data">Jl KH Samanhudi Metro Atom Plaza Bl AKS 1/11, Dki Jakarta</p>
          </li>
          <li class="contacts__item">
            <svg width="20" height="20" aria-label="phone" class="contacts__icon">
              <use href="./assets/images/sprite.svg#phone"></use>
            </svg>
            <p class="contacts__data">+62 (0) 000 0000 00</p>
          </li>
        </ul>
      </div>
      <form></form>
    </div>
    <ul class="contacts__socialList">
      <li class="contacts__socialItem">
        <button class="contacts__socialButton">
          <div class="contacts__iconWrapper">
            <svg width="16" height="16" aria-label="facebook" class="contacts__socialIcon">
              <use href="./assets/images/sprite.svg#facebook"></use>
            </svg>
          </div>
          <p class="contacts__socialName">Facebook</p>
        </button>
      </li>
      <li class="contacts__socialItem">
        <button class="contacts__socialButton">
          <div class="contacts__iconWrapper">
            <svg width="16" height="16" aria-label="instagram" class="contacts__socialIcon">
              <use href="./assets/images/sprite.svg#instagram"></use>
            </svg>
          </div>
          <p class="contacts__socialName">Instagram</p>
        </button>
      </li>
      <li class="contacts__socialItem">
        <button class="contacts__socialButton">
          <div class="contacts__iconWrapper">
            <svg width="16" height="16" aria-label="linkedin" class="contacts__socialIcon">
              <use href="./assets/images/sprite.svg#linkedin"></use>
            </svg>
          </div>
          <p class="contacts__socialName">Linkedin</p>
        </button>
      </li>
      <li class="contacts__socialItem">
        <button class="contacts__socialButton">
          <div class="contacts__iconWrapper">
            <svg width="16" height="16" aria-label="twitter" class="contacts__socialIcon">
              <use href="./assets/images/sprite.svg#twitter"></use>
            </svg>
          </div>
          <p class="contacts__socialName">Twitter</p>
        </button>
      </li>
    </ul>
  </div>
</section>
