<section id="hero" class="hero">
  <div class="container hero__wrapper">
    <div class="hero__text-wrapper">
      <h1 class="hero__title">Find your own way in sport</h1>
      <p class="subtitle">New app for productive sport activities is available now</p>
      <div class="hero__btns-wrapper">
        <a href="#plans" class="button--primary hero__btn-primary">
          <span style="margin-right: 16px">View plans</span>
          <svg class="hero__btn-icon" width="20" height="14">
            <use href="./assets/images/sprite.svg#arrow-right"></use>
          </svg>
        </a>
        <button class="button--secondary hero__btn-secondary" data-modal-open>
          <span>Try demo</span>
        </button>
      </div>
    </div>

    <div class="hero__imgWrap">
      <picture>
        <source
          srcset="./assets/images/hero/lady-mob.webp 1x, ./assets/images/hero/lady-mob@2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/hero/lady-mob-min.png    1x,
            ./assets/images/hero/lady-mob@2x-min.png 2x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <source
          srcset="./assets/images/hero/lady-tab.webp 1x, ./assets/images/hero/lady-tab@2x.webp 2x"
          media="(min-width: 768px) and (max-width: 1279px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/hero/lady-tab-min.png    1x,
            ./assets/images/hero/lady-tab@2x-min.png 2x
          "
          media="(min-width: 768px) and (max-width: 1279px)"
          type="image/png"
        />

        <source
          srcset="./assets/images/hero/lady-desk.webp 1x, ./assets/images/hero/lady-desk@2x.webp 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/hero/lady-desk-min.png    1x,
            ./assets/images/hero/lady-desk@2x-min.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />

        <source
          srcset="./assets/images/hero/lady-desk.webp 1x, ./assets/images/hero/lady-desk@2x.webp 2x"
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./assets/images/hero/lady-desk-min.png    1x,
            ./assets/images/hero/lady-desk@2x-min.png 2x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img
          class="hero__image"
          src="./assets/images/hero/lady-desk-min.png"
          alt="Hero image"
          loading="lazy"
          width="235"
          height="370"
        />
      </picture>
    </div>
  </div>

  <div class="hero__info">
    <ul class="hero__list hero__list--1">
      <li class="hero__item hero__item--1">
        <span class="hero__item-number">10M+</span><span class="hero__item-text">members</span>
      </li>
      <li class="hero__item hero__item--2">
        <span class="hero__item-number">125+</span><span class="hero__item-text">partners</span>
      </li>
    </ul>
    <svg width="41" height="30">
      <use href="./assets/images/sprite.svg#arrow-down"></use>
    </svg>
    <ul class="hero__list hero__list--2">
      <li class="hero__item hero__item--3">
        <span class="hero__item-number">35+</span><span class="hero__item-text">best coach</span>
      </li>
      <li class="hero__item hero__item--4">
        <span class="hero__item-number">100+</span><span class="hero__item-text">apretiation</span>
      </li>
    </ul>
  </div>
</section>
