<section class="overview__section section">
  <div class="overview__container container">
    <div class="overview__wrapper">
      <div class="overview__image">
        <picture>
          <source
            type="image/webp"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/overview/lady-tab.webp    1x,
              ./assets/images/overview/lady-tab@2x.webp 2x
            "
          />
          <source
            type="image/png"
            media="(max-width: 767px)"
            srcset="
              ./assets/images/overview/lady-tab-min.png    1x,
              ./assets/images/overview/lady-tab@2x-min.png 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px)"
            srcset="
              ./assets/images/overview/lady-desk.webp    1x,
              ./assets/images/overview/lady-desk@2x.webp 2x
            "
          />
          <source
            type="image/png"
            media="(min-width: 768px)"
            srcset="
              ./assets/images/overview/lady-desk-min.png    1x,
              ./assets/images/overview/lady-desk@2x-min.png 2x
            "
          />
          <img
            class="overview__img"
            src="./assets/images/overview/lady-desk-min.png"
            srcset="./assets/images/overview/lady-desk@2x-min.png"
            alt="Woman with a kettlebell"
            width="592"
            height="501"
          />
        </picture>
      </div>
      <div class="overview__text">
        <h2 class="overview__title title">Why you should choose us?</h2>
        <ul class="overview__list">
          <li class="overview__item">
            Get your workout in, a massage or even a mani/pedi with the same membership.
          </li>
          <li class="overview__item">
            Memberships are month-to-month and we make changing your plan easy.
          </li>
          <li class="overview__item">
            Book at any studio, gym, salon or spa you want, as many times as you want.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
