<section class="plans section">
  <div class="container">
    <h2 class="title plans__title">Plans</h2>
    <div class="plans-slider">
      <div class="slider-item">
        <svg width="32" height="32" aria-label="muscles" class="plans__icon">
          <use href="./assets/images/sprite.svg#platinum-plan"></use>
        </svg>
        <h3 class="plans__name">Platinum</h3>
        <div class="plans__description">
          <p>Easy start for you</p>
          <p>Fitness assessment</p>
          <p>24/7 access</p>
          <p>Group or individual trainning program</p>
          <p>Personalized Macros Diet Plan w/ Dietitian</p>
        </div>
        <p class="plans__payment"><span class="plans__price">$499</span>/month</p>
        <p class="plans__type">online/offline</p>
        <button class="plans__button">Select plan</button>
      </div>
      <div class="slider-item">
        <svg width="32" height="32" aria-label="medal" class="plans__icon">
          <use href="./assets/images/sprite.svg#gold-plan"></use>
        </svg>
        <h3 class="plans__name">Gold</h3>
        <div class="plans__description">
          <p>Unlimited classes</p>
          <p>Fitness assessment</p>
          <p>Personalized Macros Diet Plan w/ Dietitian</p>
        </div>
        <p class="plans__payment"><span class="plans__price">$699</span>/month</p>
        <p class="plans__type">online/offline</p>
        <button class="plans__button">Select plan</button>
      </div>   
      <div class="slider-item">
        <svg width="32" height="32" aria-label="figure" class="plans__icon">
          <use href="./assets/images/sprite.svg#silver-plan"></use>
        </svg>
        <h3 class="plans__name">Silver</h3>
        <div class="plans__description">
          <p>Easy start for you</p>
          <p>Fitness assessment</p>
          <p>Sun-Fri - 18 - 22 pm</p>
        </div>
        <p class="plans__payment"><span class="plans__price">$299</span>/month</p>
        <p class="plans__type">online/offline</p>
        <button class="plans__button">Select plan</button>
      </div>     
    </div>
    <div class="navigation">
        <button class="plans-prev-btn" type="button" aria-label="previous slide">
          <svg width="30" height="22" aria-label="previous slide">
            <use href="./assets/images/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="plans-next-btn" type="button" aria-label="next slide">
          <svg width="30" height="22" aria-label="next slide">
            <use href="./assets/images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
  </div>
</section>
