<section class="programs section" id="program">
  <div class="container">
    <h2 class="programs__title title">Choose a program</h2>
    <div class="programs__container">
      <div class="programs__cards cards program__slick-slider">
        <div class="cards__container slick-slide">
          <div class="programs__card card">
            <div class="side front">
              <picture>
                <source
                  type="image/webp"
                  media="(max-width: 1279px)"
                  srcset="
                    ./assets/images/program/workout-lady-tab.webp    1x,
                    ./assets/images/program/workout-lady-tab@2x.webp 2x
                  "
                />
                <source
                  type="image/jpg"
                  media="(max-width: 1279px)"
                  srcset="
                    ./assets/images/program/workout-lady-tab-min.jpg    1x,
                    ./assets/images/program/workout-lady-tab@2x-min.jpg 2x
                  "
                />
                <source
                  type="image/webp"
                  media="(min-width: 1280px)"
                  srcset="
                    ./assets/images/program/workout-lady-desk.webp    1x,
                    ./assets/images/program/workout-lady-desk@2x.webp 2x
                  "
                />
                <source
                  type="image/jpg"
                  media="(min-width: 1280px)"
                  srcset="
                    ./assets/images/program/workout-lady-desk-min.jpg    1x,
                    ./assets/images/program/workout-lady-desk@2x-min.jpg 2x
                  "
                />
                <img
                  class="programs__img"
                  src="./assets/images/program/workout-lady-desk-min.jpg"
                  srcset="./assets/images/program/workout-lady-desk@2x-min.jpg"
                  alt="Workout woman"
                  width="384"
                  height="520"
                />
              </picture>
              <div class="programs__button-wrapper">
                <button type="button" class="button--white">
                  <span>Detailed</span>
                </button>
              </div>
            </div>
            <div class="side back">
              <div class="card__info">
                <h3 class="card__title">Workout</h3>
                <p class="card__text">
                  <span class="card__span">Exercise routines: </span>built exercise routines that
                  you can follow along with, either at home or in the gym.
                </p>
                <p class="card__text">
                  <span class="card__span">Tracking tools: </span>track your progress over time,
                  either by logging the exercises you've completed, the amount of weight you've
                  lifted, or the number of calories you've burned.
                </p>
                <p class="card__text">
                  <span class="card__span">Personalized recommendations: </span>we use data about
                  your fitness level, goals, and preferences to make personalized workout
                  recommendations.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="cards__container slick-slide">
          <div class="programs__card card">
            <div class="side front">
              <picture>
                <source
                  type="image/webp"
                  media="(max-width: 1279px)"
                  srcset="
                    ./assets/images/program/crossfit-lady-tab.webp    1x,
                    ./assets/images/program/crossfit-lady-tab@2x.webp 2x
                  "
                />
                <source
                  type="image/jpg"
                  media="(max-width: 1279px)"
                  srcset="
                    ./assets/images/program/crossfit-lady-tab-min.jpg    1x,
                    ./assets/images/program/crossfit-lady-tab@2x-min.jpg 2x
                  "
                />
                <source
                  type="image/webp"
                  media="(min-width: 1280px)"
                  srcset="
                    ./assets/images/program/crossfit-lady-desk.webp    1x,
                    ./assets/images/program/crossfit-lady-desk@2x.webp 2x
                  "
                />
                <source
                  type="image/jpg"
                  media="(min-width: 1280px)"
                  srcset="
                    ./assets/images/program/crossfit-lady-desk-min.jpg    1x,
                    ./assets/images/program/crossfit-lady-desk@2x-min.jpg 2x
                  "
                />
                <img
                  class="programs__img"
                  src="./assets/images/program/crossfit-lady-desk-min.jpg"
                  srcset="./assets/images/program/crossfit-lady-desk@2x-min.jpg"
                  alt="Crossfit woman"
                  width="384"
                  height="520"
                />
              </picture>
              <div class="programs__button-wrapper">
                <button type="button" class="button--white">
                  <span>Detailed</span>
                </button>
              </div>
            </div>
            <div class="side back">
              <div class="card__info">
                <h3 class="card__title">Crossfit</h3>
                <p class="card__text">
                  <span class="card__span">WOD tracking: </span>allow you to log your daily
                  workouts, known as WODs (Workouts of the Day), so you can track your progress over
                  time.
                </p>
                <p class="card__text">
                  <span class="card__span">Exercise libraries: </span>app include libraries of
                  exercises, with detailed instructions and videos for proper form and technique.
                </p>
                <p class="card__text">
                  <span class="card__span">Leaderboards: </span>we have leaderboards that allow you
                  to see how your performance compares to other users, either within your own gym or
                  across the broader CrossFit community.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="cards__container slick-slide">
          <div class="programs__card card">
            <div class="side front">
              <picture>
                <source
                  type="image/webp"
                  media="(max-width: 1279px)"
                  srcset="
                    ./assets/images/program/yoga-lady-tab.webp    1x,
                    ./assets/images/program/yoga-lady-tab@2x.webp 2x
                  "
                />
                <source
                  type="image/jpg"
                  media="(max-width: 1279px)"
                  srcset="
                    ./assets/images/program/yoga-lady-tab-min.jpg    1x,
                    ./assets/images/program/yoga-lady-tab@2x-min.jpg 2x
                  "
                />
                <source
                  type="image/webp"
                  media="(min-width: 1280px)"
                  srcset="
                    ./assets/images/program/yoga-lady-desk.webp    1x,
                    ./assets/images/program/yoga-lady-desk@2x.webp 2x
                  "
                />
                <source
                  type="image/jpg"
                  media="(min-width: 1280px)"
                  srcset="
                    ./assets/images/program/yoga-lady-desk-min.jpg    1x,
                    ./assets/images/program/yoga-lady-desk@2x-min.jpg 2x
                  "
                />
                <img
                  class="programs__img"
                  src="./assets/images/program/yoga-lady-desk-min.jpg"
                  srcset="./assets/images/program/yoga-lady-desk@2x-min.jpg"
                  alt="Yoga woman"
                  width="384"
                  height="520"
                />
              </picture>
              <div class="programs__button-wrapper">
                <button type="button" class="button--white">
                  <span>Detailed</span>
                </button>
              </div>
            </div>
            <div class="side back">
              <div class="card__info">
                <h3 class="card__title">Yoga</h3>
                <p class="card__text">
                  <span class="card__span">Video classes: </span>Our app is a great way to practice
                  yoga at home or on-the-go. Yoga available that offer a variety of features and
                  styles of yoga, from beginner-level classes to advanced poses.
                </p>
                <p class="card__text">
                  <span class="card__span">Personalized recommendations: </span>the app might
                  suggest specific poses or sequences that are best suited to your body type, or
                  recommend a yoga routine based on your fitness level.
                </p>
                <p class="card__text">
                  <span class="card__span">Tracking tools: </span>Some yoga apps allow you to track
                  your progress all time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
