<section class="programs section">
  <div class="programs__container container">
    <h2 class="programs__title title">Choose a program</h2>
    <div class="programs__cards cards">
      <div class="cards__container inactive">
        <div class="programs__card card">
          <div class="side front">
            <img src="./assets/images/program/workout-lady-desk-min.jpg" alt="" />
          </div>
          <div class="side back">
            <div class="card__info">
              <h3 class="card__title">Workout</h3>
              <p class="card__text">
                <span class="card__span">Exercise routines: </span>built exercise routines that you
                can follow along with, either at home or in the gym.
              </p>
              <p class="card__text">
                <span class="card__span">Tracking tools: </span>track your progress over time,
                either by logging the exercises you've completed, the amount of weight you've
                lifted, or the number of calories you've burned.
              </p>
              <p class="card__text">
                <span class="card__span">Personalized recommendations: </span>we use data about your
                fitness level, goals, and preferences to make personalized workout recommendations.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__container inactive">
        <div class="programs__card card">
          <div class="side front">
            <img src="./assets/images/program/crossfit-lady-desk-min.jpg" alt="" />
          </div>
          <div class="side back">
            <div class="card__info">
              <h3 class="card__title">Workout</h3>
              <p class="card__text">
                <span class="card__span">Exercise routines: </span>built exercise routines that you
                can follow along with, either at home or in the gym.
              </p>
              <p class="card__text">
                <span class="card__span">Tracking tools: </span>track your progress over time,
                either by logging the exercises you've completed, the amount of weight you've
                lifted, or the number of calories you've burned.
              </p>
              <p class="card__text">
                <span class="card__span">Personalized recommendations: </span>we use data about your
                fitness level, goals, and preferences to make personalized workout recommendations.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__container inactive">
        <div class="programs__card card">
          <div class="side front">
            <img src="./assets/images/program/yoga-lady-desk-min.jpg" alt="" />
          </div>
          <div class="side back">
            <div class="card__info">
              <h3 class="card__title">Workout</h3>
              <p class="card__text">
                <span class="card__span">Exercise routines: </span>built exercise routines that you
                can follow along with, either at home or in the gym.
              </p>
              <p class="card__text">
                <span class="card__span">Tracking tools: </span>track your progress over time,
                either by logging the exercises you've completed, the amount of weight you've
                lifted, or the number of calories you've burned.
              </p>
              <p class="card__text">
                <span class="card__span">Personalized recommendations: </span>we use data about your
                fitness level, goals, and preferences to make personalized workout recommendations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
