<section class="subscribe section">
  <div class="subscribe__container container">
      <picture class="subscribe__img">
        <source
          type="image/webp"
          media="(min-width: 1280px)"
          srcset="
            ./assets/images/subscribe/lady-desk.webp    1x,
            ./assets/images/subscribe/lady-desk@2x.webp 2x
          "
        />
        <source
          type="image/png"
          media="(min-width: 1280px)"
          srcset="
            ./assets/images/subscribe/lady-desk-min.png    1x,
            ./assets/images/subscribe/lady-desk@2x-min.png 2x
          "
        />
        <source
          type="image/webp"
          media="(min-width: 768px)"
          srcset="
            ./assets/images/subscribe/lady-tab.webp    1x,
            ./assets/images/subscribe/lady-tab@2x.webp 2x
          "
        />
        <source
          type="image/png"
          media="(min-width: 768px)"
          srcset="
            ./assets/images/subscribe/lady-tab-min.png    1x,
            ./assets/images/subscribe/lady-tab@2x-min.png 2x
          "
        />
        <source
          type="image/webp"
          media="(max-width: 767.98px)"
          srcset="
            ./assets/images/subscribe/lady-mob.webp    1x,
            ./assets/images/subscribe/lady-mob@2x.webp 2x
          "
        />
        <source
          type="image/png"
          media="(max-width: 767.98px)"
          srcset="
            ./assets/images/subscribe/lady-mob-min.png    1x,
            ./assets/images/subscribe/lady-mob@2x-min.png 2x
          "
        />
        <img
          src="./assets/images/advantages/lady-desk-min.png"
          alt="woman with fitness band"
          loading="lazy"
          width="340"
          height="280"
        />
      </picture>
      <h2 class="title subscribe__title">
        The all-in-one fitness method powered by your bodyweight to slulpt, and strengthen
      </h2>
    <div class="subscribe__formWrapper">
      <p class="subscribe__formText">Want know about new plans?</p>
      <h3 class="subscribe__formTitle">Subscribe Now</h3>`
      <form class="subscribe__form" id="subscribe-form">
        <input placeholder="Email" class="subscribe__input" id="subscribe-email"/>
        <button aria-label="arrow right" type="submit" class="subscribe__button subscribe__disabled" disabled>
          <svg width="20" height="14" aria-label="right arrow" class="subscribe__icon">
            <use href="./assets/images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <span class="contacts__error">error</span>
      </form>
    </div>
  </div>
</section>
