<div class="backdrop backdrop--menu is-hidden" data-menu-backdrop>
  <div style="transform: translateX(100%)" class="mobile-menu" data-mobile-menu>
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__wrapper mobile-menu__logo-wrapper">
        <a href="" class="logo mobile-menu__logo" aria-label="company logo" data-logo
          >FitGYM
          <svg width="24" height="24">
            <use href="./assets/images/sprite.svg#sport"></use></svg
        ></a>
        <button class="close-btn" type="button" data-close aria-label="close button">
          <svg width="16" height="16">
            <use href="./assets/images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      {% include 'components/nav-menu.html' %}
    </div>
    <ul class="app__list">
      <li class="app__item">
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://play.google.com/"
          class="app__link google"
          data-close
          aria-label="close button"
        >
          <svg class="app__google" width="132" height="40" aria-label="google-play-icon">
            <use href="./assets/images/sprite.svg#google-play"></use>
          </svg>
        </a>
      </li>
      <li class="app__item">
        <a
          target="_blank"
          rel="noopener noreferrer nofollow"
          href="https://www.apple.com/ua/app-store/"
          class="app__link apple"
          data-close
          aria-label="close button"
        >
          <svg class="app__apple" width="132" height="40" aria-label="app-store-icon">
            <use href="./assets/images/sprite.svg#app-store"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
