<div class="menu-backdrop backdrop" data-menu-backdrop>
  <div class="mobile-menu" data-mobile-menu>
    <div class="mobile-menu__wrapper">
      <div class="mobile-menu__wrapper mobile-menu__logo-wrapper">
        <a href="" class="logo" aria-label="company logo" data-logo>FitGYM</a>
        <button class="close-btn" type="button" data-close aria-label="close button">
          <svg width="100%" height="100%">
            <use href="./assets/images/sprite.svg#icon-close-menu"></use>
          </svg>
        </button>
      </div>
      {% include 'components/nav-menu.html' %}
    </div>

    <div class="mobile-menu__link-wrapper">
      <a class="mobile-menu__link" type="button" data-close aria-label="close button">
        <svg width="100%" height="100%">
          <use href="./assets/images/sprite.svg#google-play"></use>
        </svg>
      </a>
      <a class="mobile-menu__link" type="button" data-close aria-label="close button">
        <svg width="100%" height="100%">
          <use href="./assets/images/sprite.svg#app-store"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
